<form action="<%= url %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">

  <%= auth_token %>

  <label for="Title">Title</label>
  <input
     id="Title"
     name="[track][title]"
     type="text"
     value="<%= @track.title %>"
     placeholder="Track Title">
  <br>
  <br>
  <label for="album">album</label>
  <select name="[track][album_id]">
    <option></option>
    <% Album.all.each do |album| %>
    <option value="<%= album.id %>"
      <%= "selected" if @track.album_id == album.id %>
      ><%= album.name %></option>
    <% end %>
  </select>

  <br>
  <br>
  Regular <input type="radio" name="[track][ttype]"
          value="Regular" <%= "checked" if track.ttype == "Regular" %>>
  Bonus <input type="radio" name="[track][ttype]"
          value="Bonus" <%= "checked" if track.ttype == "Bonus" %>>
  <br>
  <br>
  <input type="textarea" name="[track][lyrics]" placeholder="Lyrics"
          value="<%= track.lyrics %>">
  <br>
  <br>
  <input type="submit" value="<%= action %>">
</form>
