<form action="<%= url %>" method="post">
    <input type="hidden" name="_method" value="<%= method %>">

  <%= auth_token %>

  <label for="Name">Name</label>
  <input
     id="name"
     name="[band][name]"
     type="text"
     value="<%= band.name %>">
  <br>
  <br>
  <input type="submit" value="<%= action %>">
</form>
